*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.logo_alura
{
    padding-top: 15px;
    margin-left: 15px;
    width: 1%;
}


main
{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.textoEncriptar
{
    position: absolute;
    border: none;
    color: #0a3871;
    margin-top: 80px;
    text-transform: lowercase;
    width: 42%;
    height: 60%;
    line-height: 150%;
    left: 12%;
    top: 13%;
    background-color: #f3f5fc;
}

::placeholder{color: #0a3871}

.textoEncriptar:focus
{
    outline: none;
}

.terminos 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
    color: #495057;
    font-size: 14px;
  }

.terminos p 
{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .texto_resultado
  {
    display: flex;
    justify-content: center;
    position: relative;
    width: 30%;
    height: 85%;
    left: 60%;
    top: 5%;
    background: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }

.tetxo_mensaje
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 95%;
    height: 95%;
    
    text-align: center;
    box-shadow: none;
    border: none;
}

.resultado
{
    display:none;
    visibility: hidden;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    gap: 16px;
    background: white;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    width: 95%;
    height: 80%;
    line-height: 150%;
    top: 5%;
    padding: 5%;
    position: relative;
    box-shadow: none;
 
} 


.resultado:focus
{
    outline: none;
}


.tetxo_mensaje h2
{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;

}

.texto_mensaje p
{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.botones
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 85%;
}

.botonEncriptar
{
box-sizing: border-box;
display: flex;
flex-direction: row;
height: 67px;
background: #0A3871;
border-radius: 24px;
color: #FFFFFF;
cursor: pointer;
border: 1px solid #0A3871;

font-style: bold;
font-weight: 400;
font-size: 18px;
line-height: 19px;
text-align: center;

align-items: center;
justify-content: center;
padding: 2%;
gap: 8px;
width: 25%;
position: relative;

}

.botonEncriptar:hover
{
	transform: scale(1.10);
}

.botonEncriptar:active
{
	border: 5px solid yellow;
}

.botonDesencriptar
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #858484;
    cursor: pointer;
    border: 1px solid #0A3871;
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin-left: 30px;
    position: relative;
}

.botonDesencriptar:hover
{
	transform: scale(1.10);
}

.botonDesencriptar:active
{
	border: 5px solid #0A3871;
}


.texto_resultado img
{
    position: relative;
    width: 80%;
    height: 50%;
    top: 15%; 
}

.botonCopiar
{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2%;
gap: 8px;
width: 35%;
height: 67px;
background: #D8DFE8;
border-radius: 24px;
color: #0A3871;
cursor: pointer;
border: 1px solid #0A3871;

font-style: bold;
font-weight: 400;
font-size: 18px;
line-height: 19px;
text-align: center;

margin-left: 5%;
margin-top: 25%;
position: relative;

}

.informacion
{
    color: #495057;
    font-size: 14px;
}


footer
{
	text-align: center;
	margin:  auto;
	padding: 10px;
}


@media screen and (max-width:480px)
{
	h1
	{
		text-align: center;
	}
	main
	{
		display: flex;
        flex-direction: row;
	}
   
    .textoEncriptar
    {
        width: 40%;
        height: 60%;
        left: 10%;
        top: 5%
    }

    .terminos
    {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p
    {
        font-size: 15px;
    }

    .botones
    {
        width: 80%;
        left: 10%;
        top:70%;
    }

    .botonEncriptar, .botonDesencriptar
    {
        width: 45%;
        border-radius: 16px;
    }

	.texto_resultado
	{
		width: 80%;
        height: 35%;
        left: 5%;
        top: 80%;
	}

    .tetxo_mensaje
    {
        width: 100%;
        top: 5%;
    }

    .texto_resultado img
    {
        top: 0;
        display: none;
        visibility: hidden;
    }

    .logo_alura
    {
        width: 2%; 
        align-items: center;
        top: 10%;
    }

    footer
{
    display: block;
	text-align: center;
	margin:  auto;
	padding: 10px;
    top: 100%;
}

}





